<div class="row">
  <div class="col-md-8">
    <h1>Add house amenity</h1>
     <p>Please give me a key tip about your place. For example, how do I work your TV?</p>
    <%= render :partial => 'form' %>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <li class="list-group-item">Account stuff</li>
      <li class="list-group-item">Key house info</li>
      <li class="list-group-item">Region info</li>
      <li class="list-group-item">Suburb info</li>
      <li class="list-group-item">Where to eat</li>
      <li class="list-group-item">Getting around</li>
      <li class="list-group-item active">House Amenities</li>
      <li class="list-group-item">Emergency contacts</li>
      <li class="list-group-item">Anything else?</li>
      </div>
    </div>
  </div>
</div>