<h1>Welcome to airguidebook</h1>

<p>Some text is going to go here that will make people really want to use this thing. They will want to click the big button below and get started with making a guidebook.</p>

<%= link_to 'Start your guide!', new_user_path %>