<div class="row">
  <div class="col-md-8">
    <h1>Edit emergency contact</h1>
    <%= render :partial => 'form' %>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <li class="list-group-item">Account stuff</li>
      <li class="list-group-item">Key house info</li>
      <li class="list-group-item">Region info</li>
      <li class="list-group-item">Suburb info</li>
      <li class="list-group-item">Where to eat</li>
      <li class="list-group-item">Getting around</li>
      <li class="list-group-item">House Amenities</li>
      <li class="list-group-item active">Emergency contacts</li>
      <li class="list-group-item">Anything else?</li>
      </div>
    </div>
  </div>
</div>