<div class="row">
  <div class="col-md-8">
    <h1>Add restaurant</h1>

      <p>Tell me about your favourite place to eat, the closer to home the better!</p>

    <%= render :partial => 'form' %>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <li class="list-group-item">Account stuff</li>
      <li class="list-group-item">Key house info</li>
      <li class="list-group-item">Region info</li>
      <li class="list-group-item">Suburb info</li>
      <li class="list-group-item active">Where to eat</li>
      <li class="list-group-item">Getting around</li>
      <li class="list-group-item">House Amenities</li>
      <li class="list-group-item">Emergency contacts</li>
      <li class="list-group-item">Anything else?</li>
      </div>
    </div>