.nav {
  font-size: medium;
}

.logo {
  font-family: 'bello-pro';
  font-size: 60px;
  padding: .3em, 3am, 3em, 0;
}

.logo-show {
  font-family: 'bello-pro';
  font-size: 70px;
  padding: .3em, 3am, 3em, 0;
}

body {
  margin-top: 60px;
  font-family: 'Cabin', sans-serif;
  font-size: large;
/*  background: #6EBED2;*/
}

h1 {
  font-family: 'bebas-neue';
  font-size: -webkit-xxx-large;
}

a {
  font-family: 'Cabin', sans-serif;
  font-size: large;
}

.col-md-4 {
  padding-top: 30px;
}

.btn-primary {
  margin-top: 15px;
}