p {
  color: white;
}

.container .jumbotron {
  background-color: #0d747c;
  color: white;
  text-align: center;
}

.container .jumbotron h1 {
  font-size: 55px;
}

.logo-font {
  font-family: 'bello-pro';
  font-size: 1em;
  color: white;
}

h2 {
  color: white;
}

.nav {
  font-size: medium;
}

.list-group-item.active {
  border-color: white;
}

.list-group-item.active:hover {
  border-color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #e8d069;
  border-color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.btn-primary {
background-color: #00b0ff
}

.navbar-brand {
  font-family: 'bello-pro';
  font-size: 25px;
}

.logo {
  font-family: 'bello-pro';
  font-size: 60px;
  padding: .3em, 3am, 3em, 0;
}

li {
  list-style: none;
}

body {
  margin-top: 60px;
  font-family: 'Cabin', sans-serif;
  font-size: large;
  background-color: #108a93;
}

.navbar {
  background-color: #ad1d28;
  border-color: #911821;
}

h1 {
  font-family: 'bebas-neue';
  font-size: -webkit-xxx-large;
}

a {
  font-family: 'Cabin', sans-serif;
  font-size: large;
}

.col-md-4 {
  padding-top: 20px;
}

.list-group-item {
  background-color: #0d747c;
  border-color: white;
}

.col-md-12 {
  color: white;
}

.btn-primary {
  margin-top: 25px;
  margin-bottom: 15px;
}

.guidebook {
  text-align: center;
}

.guidebook .logo {
  font-family: 'bello-pro';
  font-size: 80px;
  padding: .3em, 3am, 3em, 0;
  color: white;
}

.guidebook h1 {
  margin: 0.8em;
  padding-top: 50px;
}

.guidebook i {
  font-size: 100px;
  padding-bottom: 40px;
}

.guidebook h3 {
  margin: 0;
  font-size: larger;
}

.guidebook ul {
  padding: 2em;
  margin: 0;
}

.guidebook ul li {
  text-decoration: none;
  list-style: none;
  display: block;
}

.guidebook ul li p {
  text-decoration: none;
  list-style: none;
  margin: 0;
}

.guidebook ul li a {
  text-decoration: none;
  list-style: none;
  color: #e8d069;
}

footer p {
  color: #e8d069;
}

.guidebook div {
  color: white;
}

.highlight {
  background-color: #0d747c;
  margin-bottom: 3em;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 100%;
}

.row-home {
  text-align: center;
}