.nav {
  font-size: medium;
}

.navbar-brand {
  font-family: 'bello-pro';
  font-size: 25px;
}

.logo {
  font-family: 'bello-pro';
  font-size: 60px;
  padding: .3em, 3am, 3em, 0;
}

li {
  list-style: none;
}

body {
  margin-top: 60px;
  font-family: 'Cabin', sans-serif;
  font-size: large;
/*  background: #6EBED2;*/
}

h1 {
  font-family: 'bebas-neue';
  font-size: -webkit-xxx-large;
}

a {
  font-family: 'Cabin', sans-serif;
  font-size: large;
}

.col-md-4 {
  padding-top: 20px;
}

.btn-primary {
  margin-top: 25px;
  margin-bottom: 15px;
}

.guidebook {
  text-align: center;
}

.guidebook .logo {
  font-family: 'bello-pro';
  font-size: 80px;
  padding: .3em, 3am, 3em, 0;
}
.guidebook h1 {
  margin: 0.8em;
}
.guidebook i {
  margin-bottom: .5em;
  font-size: 100px;
}

.guidebook h3 {
  margin: 0;
  font-size: larger;
}

.guidebook ul {
  padding: 2em;
  margin: 0;
}

.guidebook ul li {
  text-decoration: none;
  list-style: none;
  display: block;
}

.guidebook ul li p {
  text-decoration: none;
  list-style: none;
  margin: 0;
}

.guidebook ul li a {
  text-decoration: none;
  list-style: none;
}

.guidebook div {
}