<!DOCTYPE html>
<html>
    <head>
      <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,500italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
      <title>Welcome to airguidebook</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <script type="text/javascript" src="//use.typekit.net/sdq5uux.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
      <header>
       <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">airguidebook</a>
          </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="#house_info">House Info</a></li>
                  <li><a href="#region_info">Region Info</a></li>
                  <li><a href="#suburb_info">Suburb Info</a></li>
                  <li><a href="#eating_out">Eating Out</a></li>
                  <li><a href="#transport">Transport</a></li>
                  <li><a href="#amenities">Amenities</a></li>
                  <li><a href="#emergencies">Emergencies</a></li>
                  <li><a href="#also">Also...</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
    </header>

      <div class="container guidebook">
         <%= yield %>
      </div>
  </body>
</html>
